.tartalom {
    
}

.pList {
    font-size: 20px;
}

.title {
    font-size: 45px;
    text-align: center;
    margin-bottom: 40px;
}

.contentBoxes {
    text-align: center;
    font-size: 25px;
}

.merch {
    text-align: center;
    font-size: 17px;
    color: black;
}

.merch img {
    width: 300px;
}

.subtitle-right {
    text-align: left;
    margin-right: 150px;
    font-size: 40px;
    margin-top: 175px;
}

.subtitle-left {
    text-align: left;
    margin-left: 150px;
    font-size: 40px;
    margin-top: 175px;
}

ul {
    font-size: 20px;
    font-variant: small-caps;
}

li {
    padding-bottom: 20px;
}

.lifestylePics {
    width: 100%;
}

.leftLi {
    margin-left: 160px;
}