.tartalom {
    
}

.pList {
    font-size: 20px;
}

.title {
    font-size: 45px;
    text-align: center;
    margin-bottom: 40px;
}

.contentBoxes {
    text-align: center;
    font-size: 25px;
}

.merch {
    text-align: center;
    font-size: 17px;
    color: black;
}

.merch img {
    width: 300px;
}