@font-face {
    font-family: buggatiFont;
    src: url("files/BUGATTIDisplay-Regular.woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "bugattiFont", Arial, Helvetica, sans-serif;
}

/* NAVBAR */

.floatDiv {
    width: 30rem;
    background-color: rgba(40, 40, 40, 15%);
    position: fixed;
    top: 0;
    left: 50%;
                                                                                                                                                                                                                                 /* -. . / .-.. --- .--. .--- --..-- / -... -.-- ---... / .- -... .-. .. ... --..-- / -- .- .-. - .. -. */
    transform: translateX(-50%);
    z-index: -1;
    transition: width .5s;
}

nav svg {
    margin-top: 60px;
    width: 120px;
    text-shadow: 100px 100px;
    opacity: 0.85;
    transition: opacity .5s;
                                                                                                                                                                                                                        /* -. . / .-.. --- .--. .--- --..-- / -... -.-- ---... / .- -... .-. .. ... --..-- / -- .- .-. - .. -. */
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    transition: all 1s;
}

nav svg:hover {
    opacity: 1;
    transition: opacity .5s;
}

                                                                                                                                                                                /* -. . / .-.. --- .--. .--- --..-- / -... -.-- ---... / .- -... .-. .. ... --..-- / -- .- .-. - .. -. */

.navbar {
    z-index: 2;
}

.navbar-collapse {
    color: whitesmoke;
    font-size: 1.2rem;
    border-radius: 5px;
    position: fixed;
    transition: all .5s;
    top: 22.5vh;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-nav a.nav-link:hover {
    background-color: rgba(40, 40, 40, 3%);
    color: white;
    border-radius: 5px;
}

.navbar-toggler {
    display: none;
    position: fixed;
    top: 35px;
    right: 50px;
}

.navbar-brand.manCollapse svg {
    transform: none;
    left: 70px;
    top: -40px;
    width: 80px;
}

.navbar-collapse.manCollapse  {
    transform: none;
    top: 35px;
    right: 30px;
}

.floatDiv.manCollapse {
    width: 100%;
    height: 7rem;
}
                                                                                                                                                                                                                                                                                                            /* -. . / .-.. --- .--. .--- --..-- / -... -.-- ---... / .- -... .-. .. ... --..-- / -- .- .-. - .. -. */
@media(max-width: 1000px){
    .navbar-collapse.manCollapse .navbar-nav {
        display: none;
    }

    .navbar-collapse.manCollapse {
        transform: none;
        top: 14vh;
        transition: none;
        right: 50%;
    }

    .navbar-collapse.manCollapse.show .navbar-nav {
        display: block;
    }

    .navbar-toggler.manCollapse {
        display: block;
    }
}

/* HOMEPAGE */

.welcomeVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

a.scrollToContinue {
    color: white;
    text-decoration: none;
    width: 250px;
    height: 150px;
    display: block;
    text-align: center;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.1;
    transition: opacity 2s;
}

a.scrollToContinue svg {
    width: 15%;
    margin-top: -20px;
    height: auto;

}

.welcome-cards {
    text-align: justify;
    transition: 1s;
}

.welcome-cards img {
    transition: .5s;
    width: 100%;
    height: 220px;
    object-fit: cover;
    padding: 0;
}

.welcome-cards p {
    margin-top: 10px;
}

.welcome-cards:hover {
    transform: translateY(-15px) translateX(-1px);
    background-color: whitesmoke;
    box-shadow: 2px 2px rgba(40, 40, 40, 15%);
}

.welcome-cards:hover img {
    padding: 5px;
}

.welcome-cards img:hover {
    transform: translateY(-15px) translateX(-1px);
    padding-top: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.carousel-item img {
    height: 80vh;
    object-fit: cover;
}

.historyModels {
    font-weight: bold;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 10px 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.floatImg {
    height: 19rem;
    background-size: cover;
    background-position: center;
}

.collImg {
    object-fit: cover;
    height: 500px;
}

.historyModels:nth-child(even){
    background-color: #282828;
    color: white;
}

/* Piller */

.pList {
    font-size: 20px;
}

.title {
    font-size: 45px;
    text-align: center;
    margin-bottom: 40px;
}

.contentBoxes {
    text-align: center;
    font-size: 25px;
}

.merch {
    text-align: center;
    font-size: 17px;
    color: black;
}

.merch img {
    width: 300px;
}

.subtitle-right {
    text-align: left;
    margin-right: 150px;
    font-size: 40px;
    margin-top: 175px;
}

.subtitle-left {
    text-align: left;
    margin-left: 150px;
    font-size: 40px;
    margin-top: 175px;
}

ul {
    font-size: 20px;
    font-variant: small-caps;
}

li {
    padding-bottom: 20px;
}

.lifestylePics {
    width: 100%;
}

.leftLi {
    margin-left: 160px;
}

.celebPics {
    width:  100%;
    height: 500px;
    object-fit: cover;
}

.Celebrities {
    height: 300px;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* Martin */

.model-cards{
    border: 1px solid red;
}

.cards-h1{
    margin: 0 5vh 0 5vh;
}

.model-img{
    width: 100%;
    
}
.mt-3{
    font-family: Aldrich;
    font-size: 44px;
    text-align: center;
}

.upper-div{
    background-color: rgb(17, 28, 51);
    margin-left: -12px;
    width: 1903.49px;
}

.container-bolide{
   text-align: center;
   
}

.hatter-bolide{
    background-color: rgb(17, 28, 51);
    color: white;
    margin-top: 105vh;
    padding: 10vh;
}

.container-img{
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.gallery{
    margin-top: 10vh;
}

.gallery a{
    color: white !important;
    text-decoration: none;
    border: 3px solid white;
    margin-top: 200px;
    padding: 3vh;
}

.carousel{
    margin-top: 49vh;
    padding: 1.5vh;
    padding-bottom: 2.5vh;
}