@font-face {
    font-family: buggatiFont;
    src: url("files/BUGATTIDisplay-Regular.woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "bugattiFont", Arial, Helvetica, sans-serif;
}

/* NAVBAR */

.floatDiv {
    width: 30rem;
    background-color: rgba(40, 40, 40, 15%);
    position: fixed;
    top: 0;
    left: 50%;
                                                                                                                                                                                                                                 /* -. . / .-.. --- .--. .--- --..-- / -... -.-- ---... / .- -... .-. .. ... --..-- / -- .- .-. - .. -. */
    transform: translateX(-50%);
    z-index: -1;
    transition: width .5s;
}

.navv {
    top: 100px;
}

nav svg {
    margin-top: 60px;
    width: 120px;
    text-shadow: 100px 100px;
    opacity: 0.85;
    transition: opacity .5s;
                                                                                                                                                                                                                        /* -. . / .-.. --- .--. .--- --..-- / -... -.-- ---... / .- -... .-. .. ... --..-- / -- .- .-. - .. -. */
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    transition: all 1s;
}

nav svg:hover {
    opacity: 1;
    transition: opacity .5s;
}

                                                                                                                                                                                /* -. . / .-.. --- .--. .--- --..-- / -... -.-- ---... / .- -... .-. .. ... --..-- / -- .- .-. - .. -. */

.navbar-collapse {
    color: whitesmoke;
    font-size: 1.2rem;
    border-radius: 5px;
    position: fixed;
    transition: all .5s;
    top: 22.5vh;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-nav a.nav-link:hover {
    background-color: rgba(40, 40, 40, 3%);
    color: white;
    border-radius: 5px;
}

.navbar-navv {
    margin-top: 111px;
}

.navbar-toggler {
    display: none;
    position: fixed;
    top: 35px;
    right: 50px;
}

.navbar-brand.manCollapse svg {
    transform: none;
    left: 70px;
    top: -40px;
    width: 80px;
}

.navbar-collapse.manCollapse  {
    transform: none;
    top: 35px;
    right: 0px;
}

.floatDiv.manCollapse {
    width: 100%;
    height: 7rem;
}
                                                                                                                                                                                                                                                                                                            /* -. . / .-.. --- .--. .--- --..-- / -... -.-- ---... / .- -... .-. .. ... --..-- / -- .- .-. - .. -. */
@media(max-width: 1000px){
    .navbar-collapse.manCollapse .navbar-nav {
        display: none;
    }

    .navbar-collapse.manCollapse {
        transform: none;
        top: 14vh;
        transition: none;
        right: 50%;
    }

    .navbar-collapse.manCollapse.show .navbar-nav {
        display: block;
    }

    .navbar-toggler.manCollapse {
        display: block;
    }
}

/* HOMEPAGE */

.welcomeVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

a.scrollToContinue {
    color: white;
    text-decoration: none;
    width: 250px;
    height: 150px;
    display: block;
    text-align: center;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.1;
    transition: opacity 2s;
}

a.scrollToContinue svg {
    width: 15%;
    margin-top: -20px;
    height: auto;

}

.welcome-cards {
    text-align: justify;
    transition: 1s;
}

.welcome-cards img {
    transition: .5s;
    width: 100%;
    padding: 0;
}

.welcome-cards img:hover {
    transform: scale(103%);
}

.welcome-cards p {
    margin-top: 10px;
}

.welcome-cards:hover {
    transform: scale(103%);
    background-color: white;
    box-shadow: 2px 2px rgba(40, 40, 40, 15%);
}

a {
    text-decoration: none;
    color: black;
}