.model-cards{
    border: 1px solid red;
}

.cards-h1{
    margin: 0 5vh 0 5vh;
}

.model-img{
    width: 100%;
    
}
.mt-3{
    font-family: Aldrich;
    font-size: 44px;
    text-align: center;
}

.upper-div{
    background-color: rgb(17, 28, 51);
    margin-left: -12px;
    width: 1903.49px;
}